@font-face {
  font-family: "Editorial New";
  src: url("fonts\EditorialNew-Regular.woff"),
    url("fonts\EditorialNew-Regular.woff2");
}

@font-face {
  font-family: "League Gothic";
  src: url("fonts\LeagueGothic-Regular.woff"),
    url("fonts\LeagueGothic-Regular.woff2");
}

:root {
  --light: #fcfcfd;
  --dark: #0d0d0d;
  --accent: #d44502;
  --title-spacing: 32px;
}

.gothic {
  font-family: "League Gothic";
  font-weight: 500;
}

.editorial {
  font-family: "Editorial New";
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.accent {
  color: var(--accent);
}

.light-bg {
  background-color: var(--light);
}

.dark-bg {
  background-color: var(--dark);
}

.accent-bg {
  background-color: var(--accent);
}

h1 {
  max-width: 410px;
}

.hero h1 {
  max-width: 440px;
}

.hero-slideshow {
  bottom: 4.5rem;
  left: 10.5rem;
}

.hero-content {
  bottom: 1.5rem;
}

.subhead {
  max-width: 365px;
}

.hero-changer {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  padding-left: 10.5rem;
}

.change-slide {
  width: 10px;
  height: 10px;
  border: solid var(--light);
  margin-right: 10px;
}

.change-slide:last-child {
  margin-right: 0;
}

.line {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}

.text-block h3 {
  font-size: 24px;
  font-family: "League Gothic";
  font-weight: 700;
  color: var(--dark);
  letter-spacing: 0.05em;
  margin-bottom: var(--title-spacing);
}

.gallery-image img {
  width: auto !important;
  height: 100% !important;
  display: block;
}

.caption {
  max-width: 870px;
}

.container {
  max-width: 1300px;
}

.explore-title {
  margin-bottom: var(--title-spacing);
}
