@font-face {
  font-family: "Editorial New";
  src: url("fonts\EditorialNew-Regular.woff"),
    url("fonts\EditorialNew-Regular.woff2");
}

@font-face {
  font-family: "League Gothic";
  src: url("fonts\LeagueGothic-Regular.woff"),
    url("fonts\LeagueGothic-Regular.woff2");
}

:root {
  --light: #fcfcfd;
  --dark: #0d0d0d;
  --accent: #d44502;
  --title-spacing: 32px;
  --grey: #f1f1f1;
  --header-font: "League Gothic"; 
  --body-font: "Editorial New";
}

.gothic {
  font-family: "League Gothic";
  font-weight: 500;
}

.editorial {
  font-family: "Editorial New";
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.accent {
  color: var(--accent);
}

.light-bg {
  background-color: var(--light);
}

.grey-bg {
  background-color: var(--grey);
}

.dark-bg {
  background-color: var(--dark);
}

.accent-bg {
  background-color: var(--accent);
}

h1 {
  max-width: 410px;
}

.holder {
  position: relative;
  top: 0;
  left: 0;
  width: 10000vw;
  height: 100vh;
  transition: left 1s;
}

.hero h1 {
  max-width: 600px;
}

.hero-story {
  float: left;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.hero-image {
  bottom: 4.5rem;
  left: 10.5rem;
  z-index: -1;
}

.hero-text {
  height: 80vh;
  align-self: baseline;
  padding-left: 48px;
}

.hero-menu {
  left: 3rem;
  top: 32px;
  z-index: 6;
}

.subhead {
  max-width: 455px;
}

.hero-changer {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  padding-left: 10.5rem;
  z-index: 6;
}

.change-slide {
  width: 10px;
  height: 10px;
  border: solid var(--light);
  margin-right: 10px;
}

.change-slide:last-child {
  margin-right: 0;
}

.slide-changer1.fill {
  background-color: var(--light);
}

.slide-changer2.fill {
  background-color: var(--light);
}

.slide-changer3.fill {
  background-color: var(--light);
}

.line {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}

.text-block h3 {
  font-size: 24px;
  font-family: "League Gothic";
  font-weight: 700;
  color: var(--dark);
  letter-spacing: 0.05em;
  margin-bottom: var(--title-spacing);
}

.gallery-image img {
  width: auto !important;
  height: 100% !important;
  display: block;
}

.caption {
  max-width: 870px;
}

.container {
  max-width: 1300px;
}

.explore-title {
  margin-bottom: var(--title-spacing);
}

.latest-story {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.recent-stories:nth-child(-n + 2) {
  margin-top: 0px;
}

.newsletter-body {
  max-width: 360px;
}

.email {
  width: 300px;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.button {
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.about-text {
  max-width: 350px;
}

.footer-logo {
  width: 56px;
}

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 16px;
  height: 16px;
  background-color: #d44502;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.25s, height 0.25s, left 0.15s ease-out, top 0.15s ease-out;
}

div.cursors div.visible {
  width: 64px;
  height: 64px;
}

div.cursors div span {
  position: absolute;
  top: 0;
  left: 24px;
  width: 300px;

  font-family: var(--header-font);
  font-size: 16px;
  text-shadow: 1px 1px 2px var(--dark);
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 16px;

  color: var(--accent);
  opacity: 0;
  transition: opacity 0.25s;
}

/* div.cursors div span.visible {
  opacity: 1;
} */

input.email.invalid {
  outline: none !important;
  border: 3px solid red;
}

.form-message {
  font-family: var(--body-font);
}

.form-message.bad {
  color: red;
}

.form-message.good {
  color: #f1f1f1;
}


@media (max-width: 1000px) {
  .hero-image {
    bottom: 4.5rem;
    left: 0rem;
    top: 4.5rem;
  }

  /* .hero-menu h1 {
    padding-top: 23.5px;
  } */

  .hero-changer {
    padding-left: 0px;
  }

  .hero-menu {
    top: 20px;
  }
}

@media (max-width: 960px) {
  .hero-menu img {
    max-width: 48px;
  }

  .hero-text {
    padding-left: 24px;
  }

  .hero-menu {
    left: 1.5rem;
    top: 16px
  }
}

@media (max-width: 460px) {
  .latest-story {
    position: relative;
  }
}